---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:octokit/octokit.rb%20label:%22documentation%22%20merged:%3E=2026-01-01%20base:main%20is:pull-request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Reset:
      - '1790713228'
      X-Github-Edge-Region:
      - westus3
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[],"search_type":"lexical"}'
  recorded_at: Tue, 29 Sep 2026 20:19:28 GMT
recorded_with: VCR 6.4.0
